*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html:focus-within{
    scroll-behavior:smooth;
    width: 100vw;
    min-height: 100vh;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Syne';
}
img{
    display: block;
    object-fit: cover;
    object-position: center;
}

.main .header{
    display: block;
}
nav .navbar{
    display: none;
}
.main{
    min-height: 90vh;
    background-color: #EFF8FF;
    background-image: url(img/modern-building.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    overflow: hidden;
    background-size: 80% 100%;
}

.thick-2 {
    padding: 3px;
    text-decoration: none;
    color: #0a090880;
    background: 
       linear-gradient(#0a090880 0 0) 
       50% calc(-3px - 100%) /var(--d, 0%) 200% no-repeat;
    transition: 0.3s, background-size 0.3s 0.3s;
  }
  .thick-2:hover {
    cursor: pointer;
    --d: 100%;
    background-position: 50% 0%;
    color: #fff;
    transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
  }

.preloader{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.preloader.loaded{
    transition: all 0.4s ease-in-out;
    opacity: 0;
    position: inherit;
}

.progress-2 {
    width: 120px;
    height: 20px;
    background: 
      linear-gradient(#000 50%,#0000 0),
      linear-gradient(#0000 50%,#000 0),
      linear-gradient(#000 50%,#0000 0),
      linear-gradient(#0000 50%,#000 0),
      linear-gradient(#000 50%,#0000 0),
      linear-gradient(#0000 50%,#000 0)
      #ddd;
    background-size: calc(100%/6 + 1px) 200%;
    background-repeat: no-repeat;
    animation: p2 2s infinite;
}
@keyframes p2 {
  0%     {background-position: calc(0*100%/5) 100%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  16.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5)   0%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  33.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5) 100%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  50%    {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5)   0%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  66.67% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5) 100%,calc(5*100%/5)   0%}
  83.33% {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5)   0%}
  100%   {background-position: calc(0*100%/5)   0%,calc(1*100%/5) 100%,calc(2*100%/5)   0%,calc(3*100%/5) 100%,calc(4*100%/5)   0%,calc(5*100%/5) 100%}
}

.list-reset-mobile{
    padding: 0;
}
.header{
    padding-top:1vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.header .logo{
    width:4vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img:nth-of-type(1){
    width: 3vw;
}
.logo img:nth-of-type(2){
    width: 4vw;
}
.header .menu{
    margin-top: 2vh;
    width: 30vw;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.header button{
    border: none;
    background-color: #025595;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 7vw;
    height: 2.5vw;
    transition: 0.3s ease-in;
    margin-right: 10vw;
}
.header button:hover{
    cursor:pointer;
    background-color: #004172;
    color: rgb(230, 230, 230);
    transition: 0.3s ease-in;
}

.menu li{
    color: black;
    transition: 0.3s ease-in;
}
.menu li:hover{
    cursor:pointer;
    color:#025594;
    transition: 0.3s ease-in;
}

.motto{
    top: 4vh;
    left: 6vw;
    position: relative;
    height:20vh;
    width:50vw;
}
.motto h1{
    margin-top:10vh;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
}
.motto p{
    width:35vw;
    opacity: 50%;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-top:2vh;
}

.more li{
    display: inline-block;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.first{
    color: black;
    font-size: 20px;
}
.sub{
    color:rgb(56, 56, 56);
    font-size:18px;
}
.more{
    display: block;
    width:65vw;
    height:10vh;
    background-color: #ffffffd7;
    position: relative;
    top:20vh;
    left: 6vw;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
    border: none;
    background-color: #025595;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    width: 3vw;
    height: 3vw;
    transition: 0.3s ease-in;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.search:hover{
    cursor:pointer;
    background-color: #004172;
    color: rgb(230, 230, 230);
    transition: 0.3s ease-in;
}
.prices{
    position: relative;
    top:26vh;
    left: 6vw;
    height:7vh;
    width:30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.prices .first{
    font-size: 30px;
}
.prices .sub{
    color: black;
    font-size: 26px;
}


/* ----------------------------------- */
.content1, .content2, .trending{
    margin-top: 10vh;
    width: 90%;
    height: 60vh;
    text-align: center;
    margin: 0 auto;
}
.content1 p:nth-child(1), .content2 p:nth-child(1), .trending p:nth-child(1), .feedback p:nth-child(1){
    margin: 4% 0 2% 0;
    color: black;
    font-size: 50px;
    font-weight: bold;
}
.content1 p:nth-child(2), .content2 p:nth-child(2), .trending>p:nth-child(2), .feedback p:nth-child(2){
    color: #16100D80;
    margin-bottom: 3.5%;
}
.abilities{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    gap: 5%;
}
.abilities div{
    text-align: left;
}
.abilities .active{
    background-color: #025595;
    border-radius: 20px;
    height: 30vh;
    padding: 5%;
    color: white;
}
.abilities .notActive p{
    font-size: 16px;
    color: #16100D80;
}
.abilities .notActive h3{
    font-size: 25px;
    color: black;
}
.abilities .active p{
    font-size: 16px;
    margin-top: 3%;
}
.abilities .active h3{
    font-size: 25px;
}

.content2 {
    margin: 0 auto;
}
.content2 .room1{
    float: right;
    margin-right: 5%;
    margin-bottom: 6%;
    width: 70%;
}
.description, .description2{
    position: relative;
    top: 16vh;
    left: 17vw;
    width: 15vw;
    height: 26vh;
    background-color: #FFFFFFE5;
    border-radius: 15px;
    text-align: left;
    color: black;
}
.content2 .room2{
    float: left;
    margin-left: 5%;
    margin-bottom: 7vh;
    width: 70%;
}

.content2 .description p, .content2 .description2 p{
    font-size: 16px;
    padding: 5% 0 7% 0;
    color: black;
}
.description div, .description2 div, .property div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 70%;
}
.description div:nth-child(4), .description2 div:nth-child(4), .property div:nth-child(4){
    width: 80%;
}
.description div img, .description2 div img{
    margin-right: 5%;
}

.description2{
    padding-left: 1%;
    top: 50vh;
    left: 60vw;
    height: 27vh;
}

.trending{
    clear: both;
    width: 65vw;
    height: auto;
}
.props .row1{
    margin-bottom: 10vh;
}
.props, .row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    margin-bottom: 5vh;
}

.props .property{
    border-radius: 10px;
    width: 28%;
    text-align: left;
    height: auto;
    /* height: 48vh; */
    padding: 1%;
    box-shadow: 6px 2px 7px 1px rgba(194, 194, 194, 0.2);
    overflow: hidden;
    transition:  all 0.3s ease-in-out;
}
.props .property .price{
    color: #025595;
    font-size: 26px;
}
.property h3{
    font-size: 24px;
    margin-bottom: 5%;
}
.property>img{
    width:100%;
    margin-bottom: 3%;
    filter:grayscale(1);
    transition:  all 0.3s ease-in-out;
}
.property>div{
    margin-top:1.5vh;
    width:80%;
}

.property:hover{
    transform:translateY(-5px);
    transition:  all 0.3s ease-in-out;
    box-shadow: 12px 4px 14px 2px rgba(177, 177, 177, 0.37);
}
.property:hover img{
    filter:grayscale(0);
    transition:  all 0.3s ease-in-out;

}

.trending>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2vh;
}
.feedback{
    text-align: center;
    margin: 0 auto;
}

.review{
    margin: 0 auto;
    background-color: #0255950c;
    width: 67vw;
    border-radius: 17px;
    padding: 2% 2% 2% 11%;
}
.review .rating, .users{
    display: flex;
    justify-content: space-around;
    width: 17%;
}
.review .main-text p{
    color:#12181D;
    font-size: 20px;
}
.review .other-info .nickname>p:nth-child(1){
    font-size: 30px;
}
.review .other-info{
    display: flex;
    justify-content: space-between;
}
.users img{
    height: 6vh;
}
.users{
    width:12vw;
}
.photo img{
    width: 16vw;
    position: relative;
    top:-38vh;
    left: 9vw;
}
/* --------------------- */
footer{
    width:80%;
    margin: 0 auto;
}
footer .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}
footer ul{
    list-style-type: none;
}
footer .info>div p{
    color: #12181d7e;
    margin: 10% 0 2% 0;
}
footer .info div>img{
    margin: 0 0 3% 0;
}
footer ul li{
    margin-top: 8%;
}
footer .social-media{
    display: flex;
    gap: 3%;
}
footer .rights{
    display: flex;
    justify-content: space-between;
    padding:1vw;
}
.info div:nth-child(4){
    color:#12181D;
}



.navbar .navbar-brand{
    margin-left: 5%;
}
#offcanvasNavbarDark{
    background-color: #bec5ca;
    width: 60vw;
    padding: 1% 5%;
}

/* ----------------------------- */

@media screen and (max-width: 1600px){
    .description{
        top: 14vh;
        left: 15vw;
    }
    .description2{
        top: 53vh;
        left: 60vw;
        width: 17vw;
    }
    .description p:nth-last-child(1), .description2 p:nth-last-child(1){
        display: inline-block;
        font-size: calc(12px + 2*((100vw - 1000px) / 680));
    }
    .property{
        height: auto;
        font-size: calc(13px + 2*((100vw - 1000px) / 680));
        padding-bottom: 5vh;
    }
}

@media screen and (max-width: 1440px){
    .description{
        width: 17vw;
    }
    .description2{
        top: 44vh;
        left: 60vw;
        width: 17vw;
    }
    .description p:nth-last-child(1), .description2 p:nth-last-child(1){
        display: inline-block;
        font-size: calc(12px + 2*((100vw - 1000px) / 680));
    }

    .property{
        font-size: calc(13px + 2*((100vw - 1000px) / 680));
    }
    .header .menu{
        width: 40vw;
    }
}

@media screen and (max-width: 1280px){
    .header .menu{
        width: 50vw;
    }
    .motto h1{
        font-size: calc(66px + 2*((100vw - 1000px) / 680));
    }
    .motto p{
        font-size: calc(18px + 2*((100vw - 1000px) / 680));
        width: 100%;
    }
    .header .more svg{
        height: 30;
        width: 40;
    }

    .more li section p{
        font-size: calc(15.5px + 2*((100vw - 900px) / 680));
    }
    .prices div .first{
        font-size: calc(28px + 2*((100vw - 900px) / 680));
    }
    .prices div .sub{
        font-size: calc(20px + 2*((100vw - 900px) / 680));
    }

    .search svg{
        margin: 0 auto;
        width: 65%;
        height: 65%;
    }

    .description{
        width: 18vw;
        top: 8vh;
        left: 11vw;
    }
    .description2{
        top: 38vh;
        left: 60vw;
        width: 19vw;
    }
    .description p:nth-last-child(1), .description2 p:nth-last-child(1){
        display: inline-block;
        font-size: calc(12px + 2*((100vw - 1000px) / 680));
    }


    .property div p{
        font-size: calc(11px + 2*((100vw - 1000px) / 680));
    }
    .property h3{
        font-size: calc(19px + 2*((100vw - 1000px) / 680));
    }
    .photo img{
        top:-34vh;
        width: 17vw;
    }
    .feedback .review{
        margin-top: 7%;
        height: auto;
    }
    .feedback .rating{
        margin-left: 5%;
    }
    .feedback .main-text p{
        font-size: calc(16px + 2*((100vw - 1000px) / 680));
        width: 90%;
        margin-left: 3%;
    }
    .users img{
        height: 5vh;
    }
    .users{
        width:10vw;
        margin-right: 5%;
    }
    .review .other-info .nickname>p:nth-child(1){
        font-size: calc(24px + 2*((100vw - 1000px) / 680));
        width: 20vw;
    }
    .review .other-info .nickname>p:nth-child(2){
        width: 20vw;
    }
}


@media screen and (max-width: 1024px){
    .header .logo img{
        width: 5vw;
    }
    .header button{
        width: 9vw;
        height: 4vh;
    }

    .motto h1{
        margin-top: 5vh;
        font-size: calc(56px + 2*((100vw - 1000px) / 680));
    }
    .motto p{
        font-size: calc(16px + 2*((100vw - 1000px) / 680));
        width: 100%;
    }
    .more{
        margin-top: -5vh;
        width: 70vw;
        height: 8vh;
    }
    .main{
        min-height: 80vh;
    }
    .more li section{
        width:100%;
    }
    .more li section p{
        font-size: calc(13px + 2*((100vw - 900px) / 680));
    }
    .prices div .first{
        margin-top: -5vh;
        font-size: calc(24px + 2*((100vw - 900px) / 680));
    }
    .prices div .sub{
        font-size: calc(16px + 2*((100vw - 900px) / 680));
    }
    .search svg{
        margin: 0 auto;
        width: 60%;
        height: 60%;
    }
    .more li svg{
        width: 60%;
        height: 60%;
    }
    .content1>p:nth-child(1), .content2>p:nth-child(1), .trending>p:nth-child(1), .feedback>p:nth-child(1){
        font-size: 40px;
    }
    .content1 p:nth-child(2), .content2 p:nth-child(2), .trending>p:nth-child(2), .feedback p:nth-child(2){
        font-size: 15px;
    }
    .content1 .abilities div h3{
        font-size: calc(19px + 2*((100vw - 900px) / 680));
    }
    .content1 .abilities div p{
        font-size: calc(15px + 2*((100vw - 900px) / 680));
    }
    .description{
        width: 19vw;
        top: 6vh;
        left: 11vw;
        height: auto;
    }
    .description2{
        top: 25vh;
        left: 60vw;
        width: 20vw;
        margin: 0;
        height: auto;
    }
    .description p:nth-last-child(1), .description2 p:nth-last-child(1){
        display: inline-block;
        font-size: calc(11px + 2*((100vw - 1000px) / 680));
        height: auto;
    }
    .abilities .active{
        height: 25vh;
    }
    .row1, .row2{
        width:70vw;
    }
    .trending .property div p{
        font-size: calc(11px + 2*((100vw - 1000px) / 680));
    }
    .feedback .photo img{
        top: -26vh;
    }
    .feedback .review{
        height: 23vh;
    }

    
    .feedback .main-text p{
        font-size: calc(14px + 2*((100vw - 1000px) / 680));
        width: 90%;
    }
    .review .other-info .nickname>p:nth-child(1){
        font-size: calc(20px + 2*((100vw - 1000px) / 680));
    }


    footer .info div{
        font-size: calc(14px + 2*((100vw - 1000px) / 680));
    }
    .social-media>img{
        width:4vw;
    }
}

@media screen and (max-width: 1024px){
    
    .navbar .navbar-brand{
        margin-left: 5%;
    }
    #offcanvasNavbarDark{
        background-color: #bec5ca;
        width: 60vw;
        padding: 1% 5%;
    }
}
@media screen and (max-width: 600px){
    .main{
        min-height: 60vh;
        background-size: 80% 80%;
        background-position: right bottom;
    }
    .motto{
        width: 70vw;
    }
    .motto h1{
        width: 100%;
        font-size: 35px;
        margin-top: -4vh;
    }
    .motto p{
        display: none;
    }
    nav .navbar-brand img:nth-child(1){
        width: 8vw;
    }
    nav .navbar-brand img:nth-child(2){
        width: 10vw;
    }
    .main .more{
        margin-top: -15vh;
        width: 75vw;
        padding: 0;
    }
    .more li section p{
        margin: 0;
        font-size: 11.5px;
    }
    .more li{
        width: 34%;
    }
    .more button{
        display: none;
    }
    .prices .first{
        margin: 0;
    }
    .content1>p:nth-child(1), .content2>p:nth-child(1), .trending>p:nth-child(1), .feedback>p:nth-child(1){
        font-size: 30px;
    }
    .content1 p:nth-child(2), .content2 p:nth-child(2), .trending>p:nth-child(2), .feedback p:nth-child(2){
        font-size: 13px;
    }

    .content1 .abilities{
        width: 80vw;
        height: 25vh;
        margin-top: 8vh;
    }
    .abilities .active{
        height: auto;
    }
    .room1, .room2{
        transition: 0.5s ease-in-out;
        position: relative;
        z-index: 5;
    }


    .content2 .room1:hover{
        transform: translateX(-22vw);
        transition: 0.5s ease-in-out;
    }
    .content2 .room2:hover{
        transform: translateX(22vw);
    }
    .description, .description2{
        display: none;
    }

    .props{
        flex-direction: column;
        gap:5vh;
    }
    .props .property{
        width: 85%;
    }
    .props .property div p{
        font-size: 15px;
    }
    .props .property h3, .props .property .price{
        font-size: 20px;
    }


    .feedback .review{
        width: 70vw;
        min-height: 65vh;
        padding: 30vh 0 5vh 0;
    }
    .review .main-text{
        width: 85%;
        margin: 0 auto;
    }
    .other-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feedback .rating{
        margin-left: 40%;
    }
    .feedback .photo img{
        width: 35vw;
        top: -60vh;
        left: 32.5vw;
    }


    footer h3{
        font-size: 16px;
    }
    .info>div:nth-child(1){
        display: none;
    }
    .list-reset-mobile{
        padding: 0;
    }
    .rights{
        font-size: 12px;
    }
}

@media screen and (max-width: 470px){
    footer .info>div:nth-child(4){
        width: 30%;
    }
    .feedback .review{
        width: 70vw;
        min-height: 68vh;
        padding: 30vh 0 5vh 0;
    }
    
    .motto h1{
        font-size: 30px;
        margin-top: -4vh;
    }
}
